<!DOCTYPE html>
<html lang="en">

<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site specific tags -->
    <title>Dave's Hot Chiken Menu</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="/css/css-reset.css">
    <link rel="stylesheet" href="/css/StyleMenu.css">

</head>

<body>

    <header>
        <img src="/images/Screenshot 2023-10-20 at 11.49.43 PM.png" alt="YummyLogo">
        <nav>
            <fieldset>


                <span>
                    <a href="/cart"><button>Cart</button></a>
                    <a href="/home"><button>HomePage</button></a>
                    <a href="/contactus"><button>Contact Us</button></a>
                </span>


            </fieldset>
        </nav>
    </header>

    <main>
        <section class="Grid">

            <article class="Card">
                <img src="/images/Screenshot 2023-10-28 at 5.47.00 AM.png" alt="TwoTinder/Fries">
                <label for="A">TwoTinder/Fries</label>
                <p>27 SAR</p>
                <input type="button" value="ADD" id="A" name="_A">


            </article>

            <article class="Card">
                <img src="/images/Screenshot 2023-10-28 at 5.47.13 AM.png" alt="TwoSlider/Fries">
                <label for="B">TwoSlider/Fries</label>
                <p>27 SAR</p>
                <input type="button" value="ADD" id="B" name="_B">

            </article>

            <article class="Card">
                <img src="/images/Screenshot 2023-10-28 at 5.47.23 AM.png" alt="OneTinder/Slider/Fries">
                <label for="C">OneTinder/Slider/Fries</label>
                <p>27 SAR</p>
                <input type="button" value="ADD" id="C" name="_C">

            </article>

            <article class="Card">
                <img src="/images/Screenshot 2023-10-28 at 5.47.31 AM.png" alt="OneSlider/Fries">
                <label for="D">OneSlider/Fries</label>
                <p>27 SAR</p>
                <input type="button" value="ADD" id="D" name="_D">

            </article>



        </section>
    </main>


    <footer>
    </footer>
</body>

</html>