<%- include('./partials/header.ejs') %>

    <main>
        <section class="Grid">

            <article class="Card">
                <img src="IMG/Screenshot 2023-10-28 at 5.47.00 AM.png" alt="TwoTinder/Fries">
                <label for="A">TwoTinder/Fries</label>
                <input type="button" value="ADD" id="A" name="_A">
            </article>

            <article class="Card">
                <img src="IMG/Screenshot 2023-10-28 at 5.47.13 AM.png" alt="TwoSlider/Fries">
                <label for="B">TwoSlider/Fries</label>
                <input type="button" value="ADD" id="B" name="_B">
            </article>

            <article class="Card">
                <img src="IMG/Screenshot 2023-10-28 at 5.47.23 AM.png" alt="OneTinder/Slider/Fries">
                <label for="C">OneTinder/Slider/Fries</label>
                <input type="button" value="ADD" id="C" name="_C">
            </article>

            <article class="Card">
                <img src="IMG/Screenshot 2023-10-28 at 5.47.31 AM.png" alt="OneSlider/Fries">
                <label for="D">OneSlider/Fries</label>
                <input type="button" value="ADD" id="D" name="_D">
            </article>



        </section>
    </main>


    <footer>
    </footer>
    </body>

    </html>