<footer>
  <section>
      <fieldset>
          <article>
              <p>YUMMY 2023&copy;</p>
              <p>Made With Love In Riyadh</p>
              <p>If You Are Facing A Problem, Feel Free To Contact Us via email or phone No</p>
              <p>Phone Number: <span>+966555532457</span></p>
              <p>email: <span>Yummy@gmail.com</span></p>
          </article>
      </fieldset>
  </section>



</footer>
</body>

</html>