<form method="Search" action="_Search_">
  <fieldset>
      <legend><img src="images/Screenshot 2023-10-21 at 12.02.33 AM.png" alt="Cup" class="Li"></legend>
      <div class="xf">

          <label for="SearchRes">Enter The Restaurant Name:</label>
          <input id="SearchRes" type="text" name="_SearchR" placeholder="Restaurant Name">

          <label for="Filter">Pick Food Type:</label>
          <select name="_Filter" id="Filter">
              <option value="-1">Select Food type</option>
              <option value="0">Burgers</option>
              <option value="1">Pizza</option>
              <option value="2">Asin</option>
              <option value="3">Indain</option>
              <option value="4">MiddelEstren</option>
              <option value="5">Coffe</option>

          </select>
      </div>

      <input type="button" value="Search">
  </fieldset>
</form>