:root {
  --primary-color:rgb(236, 145, 236);
  --secondary-color:rgba(138, 27, 138,0.827);
  --ternairy-color:rgba(245, 12, 121,0.827);
  --fourth-color:rgba(170, 126, 212,0.755);
}
  html, body { 
    background-color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-size: 20px;
    background-image: url('/images/WhatsApp\ Image\ 2023-10-28\ at\ 1.41.39\ AM.jpeg');
    width: 100%;
  }
  
    header img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border: solid 30px rgba(138, 27, 138, 0.827);
      border-radius: 30px;
      margin-bottom: 5px;
  
  
  }
  
  .navbar {
    background-color: var(--secondary-color);
    
  }
  .navbar-text,
  .navbar-brand,
  .nav-link,
  .nav-link.active {
    color: white;
  }
  .btn btn-outline-success {
    background-color: var(--fourth-color);
    border: var(--primary-color);
  }
  

.btn{
    background-color: var(--ternairy-color);
    color:white;
    transition: 0.15s;
    border-radius: 8px;
    text-align: center;
    border: solid 1px black;
    
  }
  
  .btn:hover{
    cursor: pointer;
    opacity: 8;
    background-color:var(--primary-color);
    color:white; 
   }
  
  
  .btn:active{
    background-color:  palevioletred;;
    opacity: 6;
  
  }
 
  fieldset {
    border: solid 2px var(--seconday-color);
  }

  .contactus-section {
    background-color: var(--fourth-color);
    padding: 15px;
  }
  .contactus-section legend {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .contactus-form .form-input {
    margin-bottom: 15px;
  }
  .contactus-form input,
  .contactus-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    text-align: left;
  }
  .contactus-form textarea {
    height: 120px;
  }
  input:invalid {
    background: var(--primary-color);
  }
 

  img{
    border-image-width: auto;
    max-width: 2000px;
  }
  
  article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-align: left;
   
  }

  footer {
      text-align: left;
      color: white;
      border: solid 5px rgba(245, 12, 121, 0.827);
      border-radius: 15px;
      background-color: rgba(138, 27, 138, 0.827);
      padding: 20px;
      
    }